.checkbox-input {
    display: flex;
    flex-direction: column;
    gap: 4px;

    &--disabled {
        opacity: 0.6;
        cursor: not-allowed;
    }
}

.checkbox-input__wrapper {
    display: flex;
    align-items: center;
    gap: 8px;
}

.checkbox-input__field {
    width: 16px;
    height: 16px;
    cursor: pointer;
    
    &:disabled {
        cursor: not-allowed;
    }
}

.checkbox-input__label {
    cursor: pointer;
    user-select: none;
    font-size: 14px;
    line-height: 1.5;
    
    input:disabled + & {
        cursor: not-allowed;
    }
}

.checkbox-input__hint {
    font-size: 12px;
    color: #666;
    margin-left: 24px;
}
