@import './Table.scss';


.client-table__client-meta {
    display: flex;
    flex-direction: column;
}


.client-table__bank-cards {
    display: flex;
    flex-direction: column;
    gap: 2px;
}

.client-table__bank {
    font-size: 13px;
    color: var(--foreground);
    font-weight: 500;
}

.client-table__cards {
    font-size: 12px;
    color: var(--muted-foreground);
}

.client-table__time {
    color: var(--muted-foreground);
    font-weight: 400;
    font-family: var(--font-family-body);
}


